@import "/global.css";
@import "/components/Card/Card.css";
@import "/components/Basic/Basic.css";

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--fifth-color);
}

.answer--visible {
  visibility: hidden;
}

.card__bookmark--color {
  background-color: var(--third-color);
}
