@import "/global.css";
@import "/components/Basic/Basic.css";
@import "/components/Card/Card.css";

body {
  margin: 0px;
}

main {
  margin: 100px auto;
  width: 500px;
}

img {
  width: 200px;
  margin: 30px;
  display: flex;
  border-radius: 50%;
}

.block__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.box__count {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  gap: 150px;
}

.box__count > box {
  border: solid 1px;
  border-radius: 8px;
  padding: 2px 20px;
}

.block__setting {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.block__setting > button {
  height: 40px;
  width: 80px;
}
