@import "/global.css";
@import "/components/basic.css";

body {
  padding: 0px;
  margin: 100px 0px;
  background-color: var(--first-color);
}

main {
  width: auto;
}

form {
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

fieldset {
  width: 150px;
  display: block;
  justify-content: center;
  margin: auto;
}

fieldset > p {
  padding-left: 200px;
}

button {
  width: 100px;
  height: 30px;
  margin: auto;
}

.card {
  margin: 50px auto;
  text-align: center;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: var(--first-color);
  border-radius: 1em;
  box-shadow: 10px 10px 20px var(--fourth-color);
}
/*@media (max-width: 768px) {  form {width: 50px;}}*/
