@import "/global.css";

.card {
  margin: 50px auto;
  text-align: center;
  position: relative;
  top: 100px;
  background-color: var(--first-color);
  box-shadow: 10px 10px 20px var(--fourth-color);
}

.card__bookmark {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: var(--second-color);
  font-size: 1.5em;
  position: absolute;
  top: -20px;
  right: 30px;
}

.card__button {
  height: 30px;
  border-radius: 8px;
  border: none;
  box-shadow: 0.5em 0.5em 0.5em var(--fifth-color);
  padding: 0px 20px;
  background-color: var(--fourth-color);
}

.card__categories {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-items: left;
  gap: 5px;
  padding: 10px 30px;
}

.card__categories li {
  list-style: none;
  border-radius: 5px;
  padding: 3px 10px;
  background-color: var(--second-color);
}

@media (max-width: 768px) {
  .card {
    width: 65%;
    border-radius: 20% 3% / 50%;
  }
}
@media (min-width: 769px) {
  .card {
    width: 500px;
    border-radius: 100px 10px/ 100px;
  }
}
